{% extends 'base.html.twig' %}

{% block title %}JS Brokers
{% endblock %}

{% block body %}
	<div class="container">
		<div class="align-middle">
			<p>
				{{ pageName }}
			</p>
			<p>
				Avant de commencer, vous devez créer un compte utilisateur, en cliquant sur le bouton ci-dessous:
			</p>
			{{ component ("BoutonLien", { type : 0, texte: "Créer un compte utilisateur", pathName : "app_page_creer_utilisateur", icone: "wpf:add-user" })}}
			{{ component ("BoutonLien", { type : 1, texte: "Se connecter", pathName : "app_page_creer_utilisateur", icone: "wpf:add-user" })}}
		</p>
	</div>
</div>{% endblock %}
