{% extends 'base.html.twig' %}

{% block title %}JS Brokers
{% endblock %}

{% block body %}
	<div class="container">
		<div class="align-middle">
			<p>
				{{ pageName }}
			</p>
			<p>
				Avant de commencer, vous devez créer un compte utilisateur, en cliquant sur le bouton ci-dessous:
			</p>
			<a class="btn btn-outline-secondary btn-success text-light border border-0" type="button" href="{{ path('app_page_creer_utilisateur') }}">
				{{ ux_icon('wpf:add-user', {height: '25px', width: '25px'}) }}
				Créer mon compte utilisateur
			</a>
			{{ component ("BoutonLien", { type : 0, texte: "Créer un compte utilisateur", pathName : "app_page_creer_utilisateur", icone: "wpf:add-user" })}}
		</p>
	</div>
</div>{% endblock %}
