<div {{ attributes }}>
	<strong>{{ this.nom }}</strong>
	<form data-model="*">
		<input type="search" name="nom" placeholder="Votre recherche...">
		{# <input type="search" data-model="nom" placeholder="Votre recherche..."> #}
		{# <button data-action="live#$render">Generate a new number!</button> #}
	</form>
</div>
