<div
	class="bg-secondary-subtle p-2 mb-1">
	{# Pour la Section de haut de la page #}
	{% if this.type == 0 %}
		<span class="fw-bold fs-6">
			{{ ux_icon('tabler:dashboard', {height: '30px', width: '30px'}) }} Icone | JS Brokers | Serge SULA BOSIO | Tableau de bord de gestion | Boutons de création sous forme de combo box | Bouton de déconnexion (extrême droite)
		</span>
	{% else %}
		Nom de la Section:
		{{this.nom}}<br>
		Type de Section:
		{{this.type}}
		-
		{{this.descriptionType}}<br>
	{% endif %}
</div>
