<div
	class="bg-body-tertiary mb-1">
	{# Pour la Section de haut de la page #}
	{% if this.type == 0 %}
		<div class="shadow-sm border-bottom p-2">
			<span class="fw-bold fs-6">
				{{ ux_icon('tabler:dashboard', {height: '30px', width: '30px'}) }} JS Brokers | Serge SULA BOSIO | Tableau de bord de gestion | Boutons de création sous forme de combo box | Bouton de déconnexion (extrême droite)
			</span>
		</div>
	{% else %}
		Nom de la Section:
		{{this.nom}}<br>
		Type de Section:
		{{this.type}}
		-
		{{this.descriptionType}}<br>
	{% endif %}
</div>
